{% extends "../pages/base.html" %}
{% block content %}
    <div class="receipt">
        <div class="logo">
            <h1>I Wash Here</h1>
        </div>
        <form action="{% url 'inventory:create' %}" method="post">
        {% csrf_token %}
            <div class="main-fields">
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="existingCustomer">
                            <label class="form-check-label" for="existingCustomer">Existing customer</label>
                        </div>
                        <div id="new-customer-fields">
                            <div class="field mb-3">
                                <label class="form-label" for="customer">First Name</label>
                                <input class="form-control form-control-sm" type="text" name="first_name" id="customer">
                            </div>
                            <div class="field mb-3">
                                <label class="form-label" for="customer">Last Name</label>
                                <input class="form-control form-control-sm" type="text" name="last_name" id="customer">
                            </div>
                            <div class="field mb-3">
                                <label class="form-label" for="contact_number">Tel. No.: </label>
                                <input class="form-control form-control-sm" type="tel" name="contact_number" id="contact_number">
                            </div>
                        </div>
                        <div id="existing-customer-fields" style="display: none;">
                            <label for="customer-list" class="form-label">Existing Customer</label>
                            <input class="form-control" list="datalist-options" id="customer-list" placeholder="Type to search customer..." name="existing_customer">
                            <datalist id="datalist-options">
                                {% for customer in customers %}
                                <option value="{{ customer.fullname }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <script>
                            const existingCustomerBtn = document.getElementById('existingCustomer');

                            existingCustomerBtn.addEventListener('change', () => {
                                const newCustomerFieldsElem = document.querySelector('.col #new-customer-fields');
                                const existingCustomerFieldsElem = document.querySelector('.col #existing-customer-fields');
                                if (existingCustomerBtn.checked) {
                                    existingCustomerFieldsElem.style.display = 'block';
                                    newCustomerFieldsElem.style.display = 'none';
                                } else {
                                    newCustomerFieldsElem.style.display = 'block';
                                    existingCustomerFieldsElem.style.display = 'none';
                                }
                            });
                        </script>
                        <div class="field mb-3">
                            <label class="form-label" for="weight">Weight: </label>
                            <input class="form-control form-control-sm" type="text" name="weight" id="weight">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 field">
                            <label class="form-label" for="date_created">Date: </label>
                            <input class="form-control form-control-sm" type="date" name="date_created" id="date_created" disabled>
                        </div>
                        <div class="mb-3 field">
                            <label class="form-label" for="remarks">Service Offered</label>
                            <textarea class="form-control" id="remarks" rows="3" name="remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <hr>
                <div class="table-container">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Wash</th>
                                <td><input type="number" name="wash_cost" value="0"></td>
                            </tr>
                            <tr>
                                <th>Dry</th>
                                <td><input type="number" name="dry_cost" value="0"></td>
                            </tr>
                            <tr>
                                <th>Detergent</th>
                                <td><input type="number" name="detergent_cost" value="0"></td>
                            </tr>
                            <tr>
                                <th>Fab Con</th>
                                <td><input type="number" name="fabcon_cost" value="0"></td>
                            </tr>
                            <tr>
                                <th>Bleach</th>
                                <td><input type="number" name="bleach_cost" value="0"></td>
                            </tr>
                            <tr>
                                <th>Plastic</th>
                                <td><input type="number" name="plastic_cost" value="0"></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td id="total"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label" for="date_required">Date/Time Required</label>
                        <input class="form-control form-control-sm" type="date" name="date_required" id="date_required">
                        <input class="form-control form-control-sm" type="time" name="time_required" id="time_required">
                    </div>
                </div>
            </div>
            <div class="row submit-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Create">
                </div>
            </div>
        </form>
    </div>
    <style>
        .receipt {
            margin-top: 100px;
        }
    </style>
{% endblock %}
