{% extends "../pages/base.html" %}
{% load static  %}
{% block content %}
<div class="main-menu">
    <div class="main-menu-options">
        <ul>
            <a href="{% url 'inventory:new' %}"><li>New Order</li></a>
            <a href="{% url 'inventory:list-orders' %}"><li>All Orders</li></a>
            <a href="{% url 'inventory:list-customers' %}"><li>Customers</li></a>
            <a href="{% url 'inventory:list-orders-unclaimed' %}"><li>To Claim</li></a>
        </ul>
    </div>
</div>
<style>
    .main-menu {
        margin-top: 7vh;
        height: 90vh;
    }

    .main-menu-options {
        position: relative;
        background-color: #f0efed;
        border-radius: 8px;
        min-width: 200px;
        width: 30%;
        height: 500px;
        margin: 10px auto;
        top: 100px;
    }

    .main-menu-options ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        list-style: none;
        height: 100%;
        padding: 0px;
    }

    .main-menu-options ul a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #2b2b2b;
        border-radius: 5px;
        margin: 20px 30px;
        height: 100%;
    }

    .main-menu-options ul a:hover {
        background-color: #deddd9;
    }
</style>
{% endblock %}