{% extends "../pages/base.html" %}
{% block content %}
    <div class="receipt">
        <div class="logo">
            <h1>I Wash Here</h1>
        </div>
        <div class="main-fields">
            <div class="row">
                <div class="col">
                    <div class="field">
                        <label for="customer"><b>Customer:</b></label>
                        {{ order.customer.first_name }}
                    </div>
                    <div class="field">
                        <label for="contact_number"><b>Tel. No.: </b></label>
                        {{ order.customer.contact_number }}
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <label for="date_created"><b>Date: </b></label>
                        {{ order.date_created }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="field">
                        <label for="weight"><b>Weight: </b></label>
                        {{ order.weight }}
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Service Cost</th>
                        <td>{{ order.service_cost }}</td>
                    </tr>
                    <tr>
                        <th>Detergent</th>
                        <td>{{ order.detergent_cost }}</td>
                    </tr>
                    <tr>
                        <th>Fab Con</th>
                        <td>{{ order.fabcon_cost }}</td>
                    </tr>
                    <tr>
                        <th>Bleach</th>
                        <td>{{ order.bleach_cost }}</td>
                    </tr>
                    <tr>
                        <th>Plastic</th>
                        <td>{{ order.plastic_cost }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <label for="total">Total:</label>
                    <p><b>PHP {{ order.total_cost }}</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="date_required">Date/Time Required</label>
                    <p>{{ order.date_required }}</p>
                </div>
            </div>
        </div>
        <div class="row" id="payment-input" style="display: none;">
            <form action="{% url 'inventory:mark-paid' order.pk %}" method="post">
            {% csrf_token %}
                <div class="col">
                    <label for="payment_amount">
                        Payment Amount
                    </label>
                    <input type="number" class="form-control" name="payment_amount">
                </div>
                <div class="col">
                    <p>Payment options</p>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="payment_option" id="payment_option_cash" value="1">
                        <label for="payment_option_cash" class="form-check-label">
                            Cash
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="payment_option" id="payment_option_gcash" value="2">
                        <label for="payment_option_gcash" class="form-check-label">
                            GCash
                        </label>
                    </div>
                    <button class="btn btn-primary" type="submit">Set</button>
                </div>
            </form>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning"><a href="{% url 'inventory:edit' order.pk %}">Edit</a></button>
                <button class="btn btn-secondary" id="print">Print</button>
                <button class="btn btn-success" id="mark-paid">Mark as Paid</button>
                <button class="btn btn-success" id="mark-claimed">Mark as Claimed</button>
            </div>
        </div>
        <script>
            const markAsPaidBtn = document.getElementById('mark-paid');
            markAsPaidBtn.addEventListener('click', () => {
                const paymentInput = document.getElementById('payment-input');
                if (paymentInput.style.display === 'block')
                    paymentInput.style.display = 'none';
                else
                    paymentInput.style.display = 'block';
            });

            const markAsClaimedBtn = document.getElementById('mark-claimed');
            markAsClaimedBtn.addEventListener('click', () => {
                window.location.href = "{% url 'inventory:mark-claimed' order.pk %}"
            });
        </script>
    </div>
    <style>
        .receipt {
            margin-top: 100px;
        }
    </style>
{% endblock %}
