<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Receipt</title>
    
    <style>
        .receipt {
            width: 50%;
            margin: 32px auto;
        }

        .logo {
            display: flex;
            justify-content: center;
        }

        .field {
            width: 100%;
            display: flex;
            align-items: space-between;
        }
    </style>
</head>
<body>
    <div class="receipt">
        <div class="logo">
            <h1>I Wash Here</h1>
        </div>
        <div class="main-fields">
            <div class="row">
                <div class="col">
                    <div class="field">
                        <label for="customer">Customer: </label>
                        <input type="text" name="customer" id="customer">
                    </div>
                    <div class="field">
                        <label for="contact_number">Tel. No.: </label>
                        <input type="tel" name="contact_number" id="contact_number">
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <label for="date_created">Date: </label>
                        <input type="date" name="date_created" id="date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="field">
                        <label for="details">Details: </label>
                        <input type="text" name="details" id="details">
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <label for="weight">Weight: </label>
                        <input type="text" name="weight" id="weight">
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Wash</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Dry</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Fold</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Detergent</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Fab Con</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Bleach</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Plastic</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Others</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <label for="total">Total:</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="remarks">Remarks: </label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="date_required">Date/Time Required</label>
                    <input type="date">
                </div>
            </div>
        </div>
    </div>
</body>
</html>